<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleName</key>
  <string>Timeslice</string>
  <key>CFBundleDisplayName</key>
  <string>Timeslice</string>
  <key>CFBundleIdentifier</key>
  <string>com.timeslice.app</string>
  <key>CFBundleVersion</key>
  <string>0.1.0</string>
  <key>CFBundleShortVersionString</key>
  <string>0.1.0</string>
  <key>CFBundleExecutable</key>
  <string>Timeslice</string>
  <key>CFBundlePackageType</key>
  <string>APPL</string>
  <key>CFBundleIconFile</key>
  <string>Timeslice.icns</string>
  <key>CFBundleIconName</key>
  <string>Timeslice</string>
  <key>LSMinimumSystemVersion</key>
  <string>14.0</string>
  <key>NSHumanReadableCopyright</key>
  <string>Copyright (C) 2026 Ramana. Free software under GPLv3; comes with ABSOLUTELY NO WARRANTY.</string>
</dict>
</plist>
